In [1]:
Name="Michael Jackson"
print(Name[0])

M

In [2]:
print(Name[13])

o

In [4]:
print(Name[-4])

k

In [7]:
len(Name)

15

In [6]:
Name[0:4]

'Mich'

In [8]:
print(" Michael Jackson \n is the best" )

 Michael Jackson
 is the best

In [9]:
 'hello'.upper()

'HELLO'

In [10]:
 str(1)+str(1)

'11'

In [11]:
print(" Michael Jackson \t is the best" )

 Michael Jackson 	 is the best

In [12]:
print(" Michael Jackson \\ is the best" )

 Michael Jackson \ is the best

In [13]:
print(r" Michael Jackson \ is the best" ) # r will tell python that string will be display as raw string

 Michael Jackson \ is the best

In [14]:
print(r"Elaina")

Elaina

In [15]:
A = "Thriller is the sixth studio album"
print("before upper:", A)
B = A.upper()
print("After upper:", B)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [16]:
A = "Michael Jackson is the best"
B = A.replace('Michael', 'Janet')
B

'Janet Jackson is the best'

In [17]:
Name = "Michael Jackson"
Name.find('el')

5

In [18]:
Letters="ABCDEFGHIJK"  #Use slicing to find the first four elements of the following string:
Letters[0:4]

'ABCD'

In [19]:
Good="GsoAo+d" #Use a stride value of two on the following string 
Good[::2]

'Good'

In [21]:
"uppercase" #Convert the following string to uppercase using the method upper()
A="uppercase"
A.upper()

'UPPERCASE'

In [22]:
"uppercase".upper()

'UPPERCASE'

In [23]:
Name.find('Jack')

8

In [24]:
Name.find('Jasdfasdasdf')

-1

In [25]:
D = "ABCDEFG"  #Consider the variable D use slicing to print out the first three elements
D[0:3]

'ABC'

In [28]:
E = 'clocrkr1e1c1t' #Use a stride value of 2 to print out every second character of the string E:
E[::2]

'correct'

In [30]:
print("\\")

\

In [31]:
F = "You are wrong"  # convert uppercase
F.upper()

'YOU ARE WRONG'

In [33]:
G = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"  #Consider the variable G, and 
#find the first index of the sub-string snow:

G.find('snow')

95

In [34]:
#In the variable G, replace the sub-string Mary with Bob
G.replace('Mary', 'Bob')

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'

In [2]:
NT =(1,2,("Elaina","Jinia"),3,4,("Bubli","Oli"))
NT[2]

('Elaina', 'Jinia')

In [36]:
NT[2][0]

'Elaina'

In [2]:
A=[1]
A.append([[2],3,4,5])
print(A)

[1, [[2], 3, 4, 5]]

In [3]:
len(A)

2

In [2]:
NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2))) #Nested Tuple
NestedT[-1]

('disco', (1, 2))

In [3]:
NestedT[-1][0]

'disco'

In [4]:
NestedT[-1][1][0]

1

In [5]:
genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

In [7]:
#Find the length of the tuple, genres_tuple
len(genres_tuple)

8

In [8]:
#Access the element, with respect to index 3
genres_tuple[3]

'hard rock'

In [12]:
#Use slicing to obtain indexes 3, 4 and 5
genres_tuple[3:6]

('hard rock', 'soft rock', 'R&B')

In [13]:
#Find the first two elements of the tuple genres_tuple:
genres_tuple[:2]

('pop', 'rock')

In [14]:
#Find the first index of "disco":
genres_tuple.index("disco")

7

In [16]:
#Generate a sorted List from the Tuple C_tuple=(-5, 1, -3):
C_tuple=(-5, 1, -3)
C_tuple

(-5, 1, -3)

In [21]:
Sorted=sorted(C_tuple)
Sorted

[-5, -3, 1]

In [1]:
# vowel list
vowel = ['a', 'e', 'i', 'u']

# 'o' is inserted at index 3
# the position of 'o' will be 4th
vowel.insert(3, 'o')

print('Updated List:', vowel)

Updated List: ['a', 'e', 'i', 'o', 'u']

In [10]:
#Create a list a_list, with the following elements 1, hello, [1,2,3] and True.
a_list=[1,'hello',[1,2,3],True]
a_list

[1, 'hello', [1, 2, 3], True]

In [6]:
# Find the value stored at index 1 of a_list.
a_list[1]

'hello'

In [7]:
#Retrieve the elements stored at index 1, 2 and 3 of a_list.
a_list[1:4]

['hello', [1, 2, 3], True]

In [12]:
#Concatenate the following lists A = [1, 'a'] and B = [2, 1, 'd']:
A=[1,'a']
B=[2,1,'d']
A+B

[1, 'a', 2, 1, 'd']

In [7]:
#Mutable & IMMUTABLE 
t = ('holberton', [1, 2, 3])

In [8]:
id(t)

140196112463560

In [9]:
type(t)

tuple

In [14]:
n = ('hello', 'world')
t = n + t
print(t)

('hello', 'world', 'holberton', [1, 2, 3])

In [15]:
id(t)

140196087033592

In [ ]:
# DICTIONARIES

In [16]:
#Keys can also be any immutable object such as a tuple:
Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6} 
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

In [17]:
# Access to the value by the key

Dict["key1"]

1

In [18]:
# Access to the value by the key

Dict[(0, 1)]

6

In [1]:
# Create a sample dictionary

release_year_dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [2]:
# Get value by keys

release_year_dict['Thriller']

'1982'

In [3]:
# Get value by key

release_year_dict['The Bodyguard']

'1992'

In [4]:
# Get all the keys in dictionary

release_year_dict.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])

In [5]:
# Get all the values in dictionary

release_year_dict.values()

dict_values(['1982', '1980', '1973', '1992', '1977', '1976', '1977', '1977'])

In [8]:
#We can add an entry:

# Append value with key into dictionary

release_year_dict['Graduation'] = '2007'
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'Graduation': '2007'}

In [9]:
# We can delete an entry:

# Delete entries by key

del(release_year_dict['Thriller'])
del(release_year_dict['Graduation'])
release_year_dict

{'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [10]:
# We can verify if an element is in the dictionary:

# Verify the key is in the dictionary

'The Bodyguard' in release_year_dict

True

In [11]:
'Thriller' in release_year_dict

False

In [12]:
soundtrack_dic = {"The Bodyguard":"1992", "Saturday Night Fever":"1977"}
soundtrack_dic

{'The Bodyguard': '1992', 'Saturday Night Fever': '1977'}

In [3]:
# a) In the dictionary soundtrack_dict what are the keys ?
soundtrack_dic = {"The Bodyguard":"1992", "Saturday Night Fever":"1977"}
soundtrack_dic 
soundtrack_dic.keys()

dict_keys(['The Bodyguard', 'Saturday Night Fever'])

In [4]:
# b) In the dictionary soundtrack_dict what are the values ?
soundtrack_dic.values()

dict_values(['1992', '1977'])

In [ ]:
#The Albums Back in Black, The Bodyguard and Thriller have the following music recording sales in millions 50, 50 and 65 respectively:

#a) Create a dictionary album_sales_dict where the keys are the album name and the sales in millions are the values.

In [1]:
album_sales_dict = {"Back in Black":"50","The Bodyguard":"50","Thriller":"65"}
album_sales_dict

{'Back in Black': '50', 'The Bodyguard': '50', 'Thriller': '65'}

In [9]:
#b) Use the dictionary to find the total sales of Thriller:
album_sales_dict = {"Back in Black":"50","The Bodyguard":"50","Thriller":"65"}
album_sales_dict["Thriller"]

'65'

In [10]:
# c) Find the names of the albums from the dictionary using the method keys:
album_sales_dict = {"Back in Black":"50","The Bodyguard":"50","Thriller":"65"}
album_sales_dict.keys()

dict_keys(['Back in Black', 'The Bodyguard', 'Thriller'])

In [11]:
# d) Find the names of the recording sales from the dictionary using the method values:
album_sales_dict = {"Back in Black":"50","The Bodyguard":"50","Thriller":"65"}
album_sales_dict.values()

dict_values(['50', '50', '65'])